@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

* {
    font-family: 'Bruno Ace', cursive;
    margin: 0.05%;
    padding: 0.1%;
}

.exercicio1, 
.exercicio2, 
.exercicio3, 
.exercicio4,
.desafio {
    border-bottom: 2px dotted;
    margin-top: 0.5%;
    padding-left: 2.5%;
}

.exercicio1 > img, 
.exercicio2 > img, 
.exercicio3 > img, 
.exercicio4 > img,
.desafio > img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid;
    margin-bottom: 1.5%;
}

a, p, h3 {
    padding: 0.75%;
}